################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sign.snk
/bin/Debug
/obj/Debug
